[user]
	name = Samuel Cochran
	email = sj26@sj26.com

[alias]
	blame = blame --abbrev=6
	to-deploy = log --merges --grep='pull request' --format='%s (%cN)' origin/production..origin/master
	ff = -c "merge.defaultToUpstream=true" merge --ff-only
	fff = pull --ff-only

[color]
	ui = auto

[column]
	ui = auto,dense

[commit]
	gpgSign = true

[diff]
	submodule = log
	word-diff = color

[push]
	default = simple

[merge "bundleinstall"]
	name = bundle install
	driver = bundle install

[merge "railsschema"]
	name = newer Rails schema version
	driver = "ruby -e '\n\
		system %(git), %(merge-file), %(--marker-size=%L), %(%A), %(%O), %(%B)\n\
		b = File.read(%(%A))\n\
		b.sub!(/^<+ .*\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n=+\\nActiveRecord::Schema\\.define.:version => (\\d+). do\\n>+ .*/) do\n\
		%(ActiveRecord::Schema.define(:version => #{[$1, $2].max}) do)\n\
		end\n\
		File.open(%(%A), %(w)) {|f| f.write(b)}\n\
		exit 1 if b.include?(%(<)*%L)'"

[url "git@github.com:"]
	insteadOf = https://github.com/
