[submodule ".vim/bundle/abolish"]
	path = .vim/bundle/abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/bundle/apathy"]
	path = .vim/bundle/apathy
	url = https://github.com/tpope/vim-apathy
[submodule ".vim/bundle/automkdir"]
	path = .vim/bundle/automkdir
	url = https://github.com/DataWraith/auto_mkdir
[submodule ".vim/bundle/base16"]
	path = .vim/bundle/base16
	url = https://github.com/chriskempson/base16-vim
[submodule ".vim/bundle/bundler"]
	path = .vim/bundle/bundler
	url = https://github.com/tpope/vim-bundler
[submodule ".vim/bundle/camelcasemotion"]
	path = .vim/bundle/camelcasemotion
	url = https://github.com/sj26/vim-camelcasemotion
[submodule ".vim/bundle/characterize"]
	path = .vim/bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule ".vim/bundle/commentary"]
	path = .vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/dadbod"]
	path = .vim/bundle/dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule ".vim/bundle/dispatch"]
	path = .vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/bundle/endwise"]
	path = .vim/bundle/endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/bundle/eunuch"]
	path = .vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/bundle/flagship"]
	path = .vim/bundle/flagship
	url = https://github.com/tpope/vim-flagship
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
	branch = master
[submodule ".vim/bundle/fzf"]
	path = .vim/bundle/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/git"]
	path = .vim/bundle/git
	url = https://github.com/tpope/vim-git
[submodule ".vim/bundle/graphql"]
	path = .vim/bundle/graphql
	url = https://github.com/jparise/vim-graphql
[submodule ".vim/bundle/haml"]
	path = .vim/bundle/haml
	url = https://github.com/tpope/vim-haml
[submodule ".vim/bundle/haystack"]
	path = .vim/bundle/haystack
	url = https://github.com/tpope/vim-haystack
[submodule ".vim/bundle/indent-object"]
	path = .vim/bundle/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule ".vim/bundle/javascript"]
	path = .vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/bundle/jdaddy"]
	path = .vim/bundle/jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule ".vim/bundle/jellybeans"]
	path = .vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule ".vim/bundle/jsx"]
	path = .vim/bundle/jsx
	url = https://github.com/mxw/vim-jsx
[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/bundle/matchit"]
	path = .vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
[submodule ".vim/bundle/netrw"]
	path = .vim/bundle/netrw
	url = https://github.com/eiginn/netrw
[submodule ".vim/bundle/nginx"]
	path = .vim/bundle/nginx
	url = https://github.com/chr4/nginx.vim
[submodule ".vim/bundle/obsession"]
	path = .vim/bundle/obsession
	url = https://github.com/tpope/vim-obsession
[submodule ".vim/bundle/packer"]
	path = .vim/bundle/packer
	url = https://github.com/hashivim/vim-packer
[submodule ".vim/bundle/projectionist"]
	path = .vim/bundle/projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule ".vim/bundle/ragtag"]
	path = .vim/bundle/ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/rake"]
	path = .vim/bundle/rake
	url = https://github.com/tpope/vim-rake
[submodule ".vim/bundle/rbenv"]
	path = .vim/bundle/rbenv
	url = https://github.com/tpope/vim-rbenv
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/rhubarb"]
	path = .vim/bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/bundle/rsi"]
	path = .vim/bundle/rsi
	url = https://github.com/tpope/vim-rsi
[submodule ".vim/bundle/ruby"]
	path = .vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule ".vim/bundle/ruby-heredoc-syntax"]
	path = .vim/bundle/ruby-heredoc-syntax
	url = https://github.com/joker1007/vim-ruby-heredoc-syntax
[submodule ".vim/bundle/scriptease"]
	path = .vim/bundle/scriptease
	url = https://github.com/tpope/vim-scriptease
[submodule ".vim/bundle/sensible"]
	path = .vim/bundle/sensible
	url = https://github.com/tpope/vim-sensible
[submodule ".vim/bundle/sleuth"]
	path = .vim/bundle/sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".vim/bundle/splitjoin"]
	path = .vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/tabular"]
	path = .vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/bundle/tbone"]
	path = .vim/bundle/tbone
	url = https://github.com/tpope/vim-tbone
[submodule ".vim/bundle/terraform"]
	path = .vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform
[submodule ".vim/bundle/test"]
	path = .vim/bundle/test
	url = https://github.com/janko-m/vim-test
[submodule ".vim/bundle/textobj-rubyblock"]
	path = .vim/bundle/textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule ".vim/bundle/textobj-user"]
	path = .vim/bundle/textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/bundle/vinegar"]
	path = .vim/bundle/vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".vim/bundle/coffee"]
	path = .vim/bundle/coffee
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/toml"]
	path = .vim/bundle/toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/typescript"]
	path = .vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/bundle/go"]
	path = .vim/bundle/go
	url = https://github.com/fatih/vim-go
[submodule ".vim/bundle/undotree"]
	path = .vim/bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule ".vim/bundle/vim-textobj-quotes"]
	path = .vim/bundle/textobj-quotes
	url = https://github.com/beloglazov/vim-textobj-quotes
[submodule ".vim/bundle/mascara"]
	path = .vim/bundle/mascara
	url = https://github.com/codehearts/mascara-vim
