[user]
	name = Samuel Cochran
	email = sj26@sj26.com

[alias]
	blame = blame --abbrev=6
	to-deploy = log --merges --grep='pull request' --format='%s (%cN)' origin/production..origin/master
	ff = -c "merge.defaultToUpstream=true" merge --ff-only
	fff = pull --ff-only
	subup = submodule update --init --recursive

[color]
	ui = auto

[column]
	ui = auto,dense

[commit]
	gpgSign = true

[diff]
	submodule = log
	word-diff = color
	compactionHeuristic = true

[push]
	default = simple

[rebase]
	autosquash = true

[submodule]
	fetchJobs = 4

[url "git@github.com:"]
	insteadOf = https://github.com/
[http "https://gopkg.in"]
	followRedirects = true
