/.zsh/rc.d/github-credentials.zsh
/.vim/.netrwhist

.*.sw?
.sw?

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*.pyc

.rbenv-version
.rbenv-vars

.powenv

# for Sublime Text
*.cache

/Sublime Text 2/Packages/User/RubyTest.last-run

/Sublime Text 3/Index
/Sublime Text 3/Local
/Sublime Text 3/Default Packages
/Sublime Text 3/Packages/User/RubyTest.last-run
