.zsh/rc.d/github-credentials.zsh
.vim/.netrwhist

.*.sw?
.sw?

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*.pyc

.rbenv-version
.rbenv-vars

.powenv

# for Sublime Text 2
*.cache
Sublime Text 2/Packages/User/RubyTest.last-run
